BODY {
   background-color: #000000;
   font-size : 13px; 
   font-family : Arial, sans-serif; 
   color : #000000;
}

A {
   font-size : 13px; 
   font-family : Arial, sans-serif; 
   color : #fffff; 
   text-decoration : none; 
}

A:visited:hover {
   color : #bb0000; 
   text-decoration : none; 
}

A:visited {
   color : #FFFFFF; 
   text-decoration : none; 
}

A:hover {
   color : #bb0000; 
   text-decoration : none; 
}

A:active {
   color : #FFFFFF; 
   text-decoration : none; 
}

A.normal {
   font-size : 11px; 
   font-family : Arial, sans-serif; 
   color : #FFFFFF; 
   text-decoration : none; 
}

.title {
   margin-left: 5px;
   margin-bottom: 3px;
   z-index: 10; 
   font-weight: bold;
   
}

.submenu {
   font-size : 10px; 
   margin-left: 10px;
}


